{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>


	<p>The current state of US adult Behavior Risks:</p>
	<table>
		<!-- First row -->
		<tr>
			<!-- First entry: Covariate -->
			<th>
				<table>
				<tr>
					<td>Risk Factor:</td>
					<td>BMI</td>
				</tr>
				<tr>
					<td>Covariate:</td>
					<td>year</td>
				</tr>
				<tr>
					<td>Effect size:</td>
					<td>-0.304</td>
				</tr>

				<tr><img src="/static/cov_result.png" alt="Cov Image" /></tr>
				</table>
			</th>
			<!-- Second entry: Geography -->
			<th>
				<table>
				<tr>
					<td>Risk Factor:</td>
					<td>Flu vaccination</td>
				</tr>
				<tr>
					<td>Best state:</td>
					<td>WY</td>
				</tr>
				<tr>
					<td>Worst state:</td>
					<td>FL</td>
				</tr>

				<tr><img src="/static/geo_result.png" alt="geo Image" /></tr>
				</table>
			</th>
		</tr>
		<!-- Second row -->
		<tr>
			<!-- First entry: Public policy aggregate -->
			<th>
				<table>
				<tr>
					<td>Public Policy:</td>
					<td>Alcohol taxes</td>
				</tr>
				<tr>
					<td>Behavioral Risk:</td>
					<td>Binge Drinking</td>
				</tr>
				<tr>
					<td>Effect size:</td>
					<td>42.35</td>
				</tr>

				<tr><img src="/static/pp_result.png" alt="Cov Image" /></tr>
				</table>
			</th>
			<!-- Second entry: Public policy time series -->
			<th>
				<table>
				<tr>
					<td>State:</td>
					<td>MN</td>
				</tr>
				<tr>
					<td>Public Policy:</td>
					<td>Parks & Rec spending</td>
				</tr>
				<tr>
					<td>Behavioral Risk:</td>
					<td>Exercise</td>
				</tr>
				<tr>
					<td>Granger p-value:</td>
					<td>2.03e-3</td>
				</tr>

				<tr><img src="/static/ts_result.png" alt="geo Image" /></tr>
				</table>
			</th>
		</tr>
	</table>

<!-- POSTing to this method triggers /display, which corresponds to do_search() function in the webapp code -->
<!-- <form method='POST' action='/display'> -->
<!-- 	<table>
		<p>Use this form to submit a search request:</p>
		<tr>
			<td>Ticker:</td>
			<td><input name='ticker' type='TEXT' width='60', value='GOOG'></td>
		</tr>
		<tr>
			<td>Start date (YYYY-MM-DD):</td>
			<td><input name='startdate' type='TEXT' width='60', value='2019-12-21'></td>
		</tr>
		<tr>
			<td>End date (YYYY-MM-DD):</td>
			<td><input name='enddate' type='TEXT' width='60', value='2021-03-19'></td>
		</tr>
	</table>
	<p>When you're ready, click this button:</p>
	<p><input value='Do it!' type='SUBMIT'></p> -->
<!-- </form> -->

{% endblock %}